:root{
    --main-color: rgb(58,173,230);
    --secondry-color: rgb(35,49,66);
}

body{
font-family: 'Cairo', sans-serif;
}

img{
    max-width: 100%;
    height: 100%;
}

h2{
    position: relative;
    padding: 80px 0;
    margin: 30px 0;
    background: #fff;
    color: #233143;
}

h2:after{
    content: "";
    position: absolute;
    top: 75%;
    right: 50%;
    transform: translate(50%,-100%);
    height: 2px;
    width: 70px;
    background-color: var(--main-color);
}

h3 a{color:var(--secondry-color)}

h3 a:hover,
h3 a:focus{
    color:var(--secondry-color);
    text-decoration: none;
    border: none;
}

.our-btn{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background: rgb(35 ,49 ,66);
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, .1);
}

.our-btn:hover {
    color: #fff;
    text-decoration: none;
}

.container-fluid {
    height: 100% !important
}

.row{
    margin: 0;
}

.full-sec{
    width: 100%;
    text-align: center;
}
/*********start navbar******************/
.navbar-brand{
    height: 70px;
}

.navbar-toggler,
.navbar-toggler:focus{
    border: none;
    outline: none;
}

.navbar-toggler span {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,173,230, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-collapse {
    text-align: left;
}
/**************************start hero*****************/
.hero {
    height: calc(100% - 86px) !important;
    padding-top: 2rem;
}

.hero .container-fluid{
    margin: 0;
    padding-left: 0;
}

.hero .row {
    height: 100% !important;
}

.brand-left{
    height: 75vh;
    background: url(../images/header-side.jpg) no-repeat;
    
}

.brand-left h1{
    height: 50%;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 3.5rem;
}

/****************start about us****************/
.about-us h2{
    font-size: 2.5rem;
}

.about-us img{
   width: 80%;
}

.about-us .text-about-us{padding: 0 20px;}

.about-us .text-about-us p{
    font-size: 1.7rem;
    line-height: 1.8em;
    color: var(--secondry-color);
}

/**************start services***************/
.services{
    background: url(../images/we-offer.png) no-repeat;
    background-size: cover;
    height: 760px;
    padding-top: 100px;
}

.services-card{
    height: 600px;
    padding: 2% 0;
}

.services-card .owl-nav{
    background: none;
    border: none;
    margin-top: 4rem;
}

.services-card .owl-item > div{
    height: 400px;
    background-color: #fff;
    border: 1px solid #dbdfe1;
    border-radius: 20px;
    padding: 30px 20px 20px;
}

.card-serv div {
    width: 180px;
    height: 180px;
    margin: auto;
}

.services-card h5{
    color: var(--main-color);
    margin: 20px 0;
}

/****************start our-works*************/
.our-works{
    background: url(../images/bg30-Ar1web.gif);
    padding-bottom: 80px;
}
.our-works .container{
    max-width: 1325px;
}

.our-works .our-works-info{
    width: 90%;
    height: 90%;
    margin: 30px auto;
    background: #fff;
    border-radius: 15px 15px 20px 20px;
    box-shadow: 0rem 0.5rem 0.8rem 0.5rem rgba(0, 0, 0, .2);
}

.our-works .row .img-works{
    height: 74%;
    padding: 1px;
}

.our-works .row img{
    width: 100%;
    border-radius: 13px 13px 20px 20px;
}

.our-works .row h3{
    height: 20%;
    padding: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-works a{
    width: 300px;
    margin: 35px 0 50px 0;
}

/****************start som-info *********************/
.som-info{
    padding: 2.5rem 0;
    text-align: center;
}


.som-info .row > div{
    margin-bottom: 4rem;
    height: 450px;
}

.contain-som-info{
    width: 100%;
    height: 100%;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0rem 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, .2);
}

.contain-som-info .img-som-info{
    height: 60%;
}

.contain-som-info img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.text-som-info{
    height: 25%;
    padding: 3% 3% 0;
}

.text-som-info p{
    font-size: 1.3rem;
}

.button-som-info{
    height: 15%;
    position: relative;
    padding: 0 6%;
}

.button-som-info a{
    width: 5rem;
    float: right;
    box-shadow: none;
}

.button-som-info span{
    float: left;
}

/***************start our-customers*******************/
.our-customers{
    background: url(../images/our-client-bg.jpg);
    background-size: cover;
    background-position: bottom; 
    padding-bottom: 150px !important;
}

.customer-cards{

}

.customer-cards .owl-item > div{
    padding: 17% 17%;
}

.owl-nav button{
    margin: 0 1.5rem;
}

.owl-nav button:focus{
    outline: none;
}

.owl-nav span{
    font-size: 2.2rem;
}

.owl-nav span:focus{
    border: none;
    -webkit-outline: none;
    outline: none;
}


/****************start footer*****************/
footer{
    width: 100%;
    background: url(../images/footer.jpg);
    padding-top: 7rem;
    padding-bottom: 9rem;
    background-position: bottom;
}

.img-footer{
    height: 380px;
    padding-right: 8%;
}

.icons-footer{
    padding-top: 5%;
}

.icons-footer img{
    height: 70px;
}

.icons-footer h5{
    margin: 2rem 0;
    color: #fff;
}

.icons-footer div{
    width: 200px;
    padding-right: 20px;
}

.icons-footer a{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.icons-footer a:hover{
    text-decoration: none;
}

.list-next-page {
    height: 3rem;
    width: 20rem;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem auto;
  }
  
/******************** step in other pages *************/
  .list-next-bar{
      width:240px;
      margin: 40px auto;
  }

  .list-next-bar div{
    height: 50px !important;
    display:flex;
    align-items: center;
    background: #fff;
    border: 1px solid #e4e1e1;
    cursor: pointer;
  }

  .list-next-bar div.active {
    color: #fff;
    background: var(--main-color);
    border-color: var(--main-color);
  }

  .list-next-bar .number {
    font-size: 1.3rem;
    font-weight: 500;
  }

.list-next-bar div:first-child,
.list-next-bar div:last-child {
  font-size: .7rem;
}