:root{
    --main-color: rgb(58,173,230);
    --secondry-color: rgb(35,49,66);
}

body{
font-family: 'Cairo', sans-serif;
}

img{
    max-width: 100%;
    max-height: 100%;
}

h2{
    text-align: center;
    position: relative;
    padding: 3rem 0;
    background: #fff;
    color: #233143;
}

h2:after{
    content: "";
    position: absolute;
    top: 85%;
    right: 50%;
    transform: translate(50%,-100%);
    height: 2px;
    width: 70px;
    background-color: var(--main-color);
}



.line-right{
    text-align: right;
    margin: 20px 30px 20px 0;
    border-right: 5px solid var(--main-color);
    padding: 0 10px 0 0;
    text-align: right;
    font-size: 2.2rem;
  }

  .line-right::after{
    content:none;
  }

h3 a{color:var(--secondry-color)}

h3 a:hover,
h3 a:focus{
    color:var(--secondry-color);
    text-decoration: none;
    border: none;
}

.our-btn{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background: rgb(35 ,49 ,66);
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, .1);
}

.our-btn:hover {
    color: #fff;
    text-decoration: none;
}

.container-fluid {
    height: 100% !important
}

.row{
    margin: 0;
}

/*********start navbar******************/
.navbar-brand{
    height: 70px;
}

.navbar-toggler,
.navbar-toggler:focus{
    border: none;
    outline: none;
}

.navbar-toggler span {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,173,230, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-collapse {
    text-align: left;
}
/**************************start hero*****************/
.hero {
    padding-top: 2rem;
}

.hero .container-fluid{
    padding-left: 0 !important;
}

.brand-left{
    background: url(../images/header-side.jpg) no-repeat;
    background-size: contain;
}

.hero h1{
    line-height: 1.6;
}

@media screen and (max-width:768px){
    h1{
        font-size: 1.8rem;
        padding-top: 0 !important;
    }
}
/****************start about us****************/
.about-us img{
   width: 85%;
}

.about-us p{
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--secondry-color);
}

@media screen and (max-width:425px){
    .about-us p{
        text-align: justify;
    }
}

/**************start services***************/
.services{
    background: url(../images/we-offer.png) no-repeat;
    background-size: cover;
    padding:85px 0 60px;
}

.services-card .owl-nav{
    background: none;
    border: none;
    margin-top: 4rem;
}

.services-card .owl-item > div{
    background-color: #fff;
    border: 1px solid #dbdfe1;
    border-radius: 20px;
    padding: 30px 20px 10px;
}

.card-serv div {
    width: 180px;
    margin: auto;
}

.services-card h5{
    color: var(--main-color);
    margin: 20px 0 12px;
}

/****************start our-works*************/
.our-works{
    background: url(../images/bg30-Ar1web.gif);
    padding-bottom: 80px;
}

.our-works .our-works-info{
    width: 95%;
    margin: 30px auto;
    background: #fff;
    border-radius: 15px 15px 20px 20px;
    box-shadow: 0rem 0.5rem 0.8rem 0.5rem rgba(0, 0, 0, .2);
}

.our-works .row .img-works{
    padding: 1px;
}

.our-works .row img{
    border-radius: 13px 13px 20px 20px;
}

.our-works .row h3{
    padding: 1.3rem 0;
    font-size: 1.3rem;
}

.our-btn{
    width: 230px;
    margin-top: 35px;
}

/*******************details project******************/
.project-img{
    width: 60%;
    margin: auto;
}

.project-text{
    background: url(../images/details-bg.png) no-repeat;
    background-size:cover;
    padding: 60px 45px;
}

.project-text p{
    font-size: 1.4rem;
    line-height: 1.8;
    color: #fff
}

@media screen and (max-width: 425px){
    .project-text p{
        font-size: 1.1rem;
        line-height: 1.8;
        text-align: justify;
    }
}

/****************start som-info *********************/
.som-info{
    padding: 3rem 0 3.5rem;
    text-align: center;
}


.som-info .row > div{
    margin-bottom: 3rem;
}

.contain-som-info{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0rem 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, .2);
}

.contain-som-info img{
    border-radius: 20px 20px 0 0;
}

.text-som-info p{
    font-size: 1rem;
    padding: 0.8rem 1.3rem 0;
}

.button-som-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem 1.5rem;
}

.button-som-info a{
    width: 5rem;
    margin-top: 0;
    box-shadow: none;
}

.artical-btn{
    width: 190px;
    height: 45px;
    margin-top: 0;
}

.artical-info{
    background: url(../images/articles.jpg) no-repeat;
    background-size: contain;
}

/***************read-artical************************/
.read-artical{
    background: url(../images/bg30-Ar1web.gif);
    padding: 20px 0 50px;
    
  }

.read-artical h2{
    font-size: 1.5rem;
}

.card-read{
    min-height: 800px;
    box-shadow: 0rem 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, .2);
    border: 1px solid #dbdfe1;
    border-radius: 1rem;
  }

.read-artical p{
    font-size: 1.5rem;
    line-height: 2.5;
    text-align: justify;
    padding-right: 12px;
    padding-left: 12px;
  }

.card-read img{
    max-width: 60%;
    margin: 60px auto;
    border-radius: 25px;
    box-shadow: 0rem 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, .2);
}

@media screen and (max-width: 425px){
    .read-artical p{
        font-size: 1rem;
        line-height: 2.1;
    }
}
/***************start our-customers*******************/
.our-customers{
    background: url(../images/our-client-bg.jpg);
    background-size: cover;
    background-position: bottom; 
    padding: 80px 0;
}

.customer-cards .owl-item > div{
    padding: 15%;
}

.owl-nav button{
    margin: 0 1.5rem;
}

.owl-nav button:focus{
    outline: none;
}

.owl-nav span{
    font-size: 2.2rem;
}

.owl-nav span:focus{
    border: none;
    -webkit-outline: none;
    outline: none;
}


/****************start footer*****************/
footer{
    background: url(../images/footer.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.img-footer{
    padding: 6rem 2rem 4rem 0;
}

.img-footer img{
    height: 17rem;
}

.icons-footer img{
    height: 60px;
}

.icons-footer h5{
    font-size: 1.1rem;
    margin: 1.5rem 0;
    color: #fff;
}

.icons-footer div{
    width: 150px;
    padding-right: 20px;
}

.icons-footer a{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.icons-footer a:hover{
    text-decoration: none;
}

/******************** step in other pages *************/
  .list-next-bar{
      width:240px;
      margin: 40px auto;
  }

  .list-next-bar div{
    height: 50px !important;
    display:flex;
    align-items: center;
    background: #fff;
    border: 1px solid #e4e1e1;
    cursor: pointer;
  }

  .list-next-bar div.active {
    color: #fff;
    background: var(--main-color);
    border-color: var(--main-color);
  }

  .list-next-bar .number {
    font-size: 1.3rem;
    font-weight: 500;
  }

.list-next-bar div:first-child,
.list-next-bar div:last-child {
  font-size: .7rem;
}